@using Microsoft.AspNetCore.Components.Web
@using PoDebateRap.Web.Components.Layout

<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(PoDebateRap.Web.Client._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="not-found-container">
                <h1>404 - Page Not Found</h1>
                <p>Sorry, there's nothing at this address.</p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
